DS_Store
cache/
log/
.*
!.gitignore
!.mailmap

*.class
*~
\#*#
bin/
*.orig
*.rej
*.swp
*.bak
work/
*.ini
*.tgz
*.tar.gz
*.tbz
*.tar.bz2
*.txz
*.tar.xz
*.gz
*.bz2
*.lzma
*.pyo
*.pyc
*.exe
*.bin
*.elf
*.o
*.o.*
*.a
*.s
*.so
*.so.dbg
*.i
*.lst
*.patch
*.gcno

#Cross Referencer tags
tags
TAGS
GPATH
GRTAGS
GSYMS
GTAGS

#cscope
cscope.*
ncscope.*

# stgit generated dirs
patches-*

# quilt's files
patches
series

# pythonのキャッシュ
__pycache__/

# logファイル
*.log

# autoconf/automake
Makefile
Makefile.in
configure
aclocal.m4
autom4te.cache
install-sh
missing
config.status
config.log
config.cache
config.h
config.h.in
stamp-h1
build-aux/
build-aux/*
libtool
ltmain.sh
depcomp
compile
INSTALL
m4/
ABOUT-NLS
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/Makefile.in.in
po/Makevars.template
po/quot.sed
po/remove-potcdate.sin
po/Rules-quot
po/remove-potcdate.sed
po/*.gmo
po/POTFILES
po/stamp-po

# coverage output
coverage/
*.gcov
*.gcda
*.gcovrc

# virtualenv directory
.venv/
.env/

# sphinx build directory
docs/sphinx/_build/

# test output directory / configuration files for testing
dest/
tests_env.sh
hostfile
src/gm_tools/_config.py
src/gm-gather
src/gm-scatter
dist/
